[Unit]
Description=First Boot Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/firstboot.sh

[Install]
WantedBy=multi-user.target
